<div class="section-side">
    <h4>Get my latest blog content in your inbox every week</h4>
    <small>JUST LIKE OVER 1 MILLON OF YOUR FELLOW DESIGNERS DO
        <br>
        PLUS GET 3 FREE DOWNLOADS. JUST FOR SIGINING UP.
    </small>
    <form class="form">
        <div class="form-group">
            <input type="email" autocomplete="off" class="form-control" placeholder="Email Address" name="email">
        </div>
        <button type="button" class="btn btn-orange">Subscribe</button>
    </form>
    <small>Give it a Try - it only takes a click to Unsubscribe.</small>
</div>