<footer>
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-6 text-md-left copyrights">&copy; 2019, MyBlog - Srinivas Polishetty</div>
        <div class="col-md-6 text-md-right followus">
            <i class="fa fa-facebook" aria-hidden="true"></i>
            <i class="fa fa-twitter" aria-hidden="true"></i>
            <i class="fa fa-linkedin" aria-hidden="true"></i>
            <i class="fa fa-instagram" aria-hidden="true"></i>
            <i class="fa fa-youtube" aria-hidden="true"></i>
        </div>
        </div>
    </div>
</footer>