//	COLORS
//	===============================
$black:                    #000000;//Black Color
$textcolor :                #212529;//Text color in app
$white      :             #ffffff;//White Color
$blue:                  #4285f4;//Navbar Blue Color
$amber:                #fd8005;//Logo Orange Color
$lightergrey:            #cccccc;//Lighter Grey
$grey:              #9f9a9a;//Grey Color
$lightgrey:         #ececec;//Side Section Bolor
$lightblue:          #7eabf5; //Dashed Border Color
$shadowgrey:       rgba(173,173,173,1); //Shadow Grey Color
$green :           #32CD32;//Green Color
$red :              #ff0000;//Red Color